{
  "extends": ["next", "next/core-web-vitals", "eslint:recommended", "plugin:react/recommended", "plugin:@typescript-eslint/recommended", "prettier"],
  "plugins": ["react", "@typescript-eslint"],
  "rules": {
    "no-unused-vars": 1, 
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".tsx"] }], // allow jsx syntax in js and tsx files (for next.js project)
    "react/react-in-jsx-scope": "warn",
  }
}

