@import './fonts.css';
@import 'tailwindcss';
@layer theme, base, components, utilities;
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-inter: 'Inter', 'sans-serif';
  --font-satoshi: 'Satoshi', 'sans-serif';
  --font-manrope: 'Manrope', 'sans-serif';
  --font-montserrat: 'Montserrat', 'sans-serif';
  --font-poppins: 'Poppins', 'sans-serif';
  --font-outfit: 'Outfit', 'sans-serif';
  --font-urbanist: 'urbanist', 'sans-serif';
  --font-sf: 'SF', 'sans-serif';

  --color-paper: #f4f0e8;

  --color-rp-base: #191724;
  --color-rp-surface: #1f1d2e;
  --color-rp-overlay: #26233a;
  --color-rp-muted: #6e6a86;
  --color-rp-subtle: #908caa;
  --color-rp-text: #e0def4;
  --color-rp-love: #eb6f92;
  --color-rp-gold: #f6c177;
  --color-rp-rose: #ebbcba;
  --color-rp-pine: #31748f;
  --color-rp-foam: #9ccfd8;
  --color-rp-iris: #c4a7e7;
  --color-rp-highlightLow: #21202e;
  --color-rp-highlightMed: #403d52;
  --color-rp-highlightHigh: #524f67;

  --color-rpd-base: #faf4ed;
  --color-rpd-surface: #fffaf3;
  --color-rpd-overlay: #f2e9e1;
  --color-rpd-muted: #9893a5;
  --color-rpd-subtle: #797593;
  --color-rpd-text: #575279;
  --color-rpd-love: #b4637a;
  --color-rpd-gold: #ea9d34;
  --color-rpd-rose: #d7827e;
  --color-rpd-pine: #286983;
  --color-rpd-foam: #56949f;
  --color-rpd-iris: #907aa9;
  --color-rpd-highlightLow: #f4ede8;
  --color-rpd-highlightMed: #dfdad9;
  --color-rpd-highlightHigh: #cecacd;
}

@layer base {
}

@layer components {}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .active .nav-indicator {
    width: 4rem;
    --tw-bg-opacity: 1;
    background-color: var(--nav-indicator-active);
  }

  .active .nav-text {
    --tw-text-opacity: 1;
    color: var(--nav-text-active);
  }
}

.light {
  --nav-indicator-active: var(--color-rpd-love);
  --nav-text-active: var(--color-rpd-love);
}

.dark {
  --nav-indicator-active: var(--color-rp-rose);
  --nav-text-active: var(--color-rp-rose);
}
