@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'Manrope';
  src: url('/fonts/Manrope.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Variable.ttf') format('truetype'),
       url('/fonts/Satoshi-VariableItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.active .nav-indicator {
  width: 4rem;
  --tw-bg-opacity: 1;
  background-color:rgb(226 232 240/var(--tw-bg-opacity))
}

.active .nav-text {
  --tw-text-opacity: 1;
  color:rgb(226 232 240/var(--tw-text-opacity))
}

body {
  width: 100%;
  margin: 0; /* Remove any default margin */
  overflow-x: hidden;
}


