/* navbar.module.css */
.container {
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Align items on the two ends */
  height: 100px;
  position: relative; /* Allows for positioning child elements */
}

.logo {
  position: absolute; /* Remove the logo from the flex context */
  left: 50%; /* Center the logo horizontally */
  transform: translateX(-50%); /* Adjust for half the width of the logo */
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  font-family: 'Satoshi', sans-serif;
}

.links {
  display: flex;
  align-items: center;
  gap: 20px; /* Adjust the gap between the links */
  margin-left: auto; /* Pushes the links to the right */
}

@media screen and (max-width: 1280px) {
  .logo {
    font-size: 32px;
  }
  .links {
    font-size: 18px;
    gap: 15px;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    font-size: 24px;
  }
}
